.map-hero
  position: relative
  #map
    position: relative
    min-height: 465px
    bottom: 0

#flash_notice,
#flash_alert,
#flash_warning,
#flash_posted,
#flash_pdf_generation,
.notice,
.error
  height: 50px
  @extend .all-caps
  .msg
    line-height: 54px
    a
      text-decoration: none

#flash_notice, .notice
  background-color: #e9f4ff
  border-bottom: solid 1px #bbb

#flash_warning, .warning
  background-color: #ffe5e5
  border-bottom: solid 1px #bbb
  .flash-icon
    background: #ff7272

#flash_alert, .error
  background-color: #FCC
  border: solid 1px #C66

#flash_posted
  background-color: #feffce
  border-bottom: solid 1px #ecee65

.suggestions
  .list-group
    margin-bottom: 0
    .name
      font-weight: bold

.btn-primary
  height: 44px
  width: 155px
  border-radius: 4px
